$royal: #0057B8;
$white: #FFFFFF;
$medgray: #C5C5C5;
$darkgray: #666;
$black: #000;

:host {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;

  .section-first {
    background-color: $royal;
    color: $white;
    height: 120px;
    width: 200px;
    margin-right: 10px;
    text-align: center;
  }

  .section-second {
    background-color: $medgray;
    width: 100%;
    padding: 10px;
  }

  #month-and-day {
    font-size: 36px;
    font-family: "Vitesse A", "Vitesse B", Arial, sans-serif;
    padding: 10px;
  }

  #time {
    font-size: 20px;
    font-family: "Vitesse A", "Vitesse B", Arial, sans-serif;
  }

  #title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #location {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: $darkgray;
  }
}

#date, #date ::slotted(*) {
  display: none;
}