$royal: #0057B8;
$white: #FFFFFF;
$medgray: #C5C5C5;

:host {
  margin-bottom: 10px;

  .section-first {
    background-color: $royal;
    color: $white;
    height: 140px;
    width: 225px;
    margin-right: 5px;
    text-align: center;
  }

  .section-second {
    background-color: $medgray;
    width: auto;
  }

  #month-and-day {
    font-size: 36px;
    font-family: "Vitesse A", "Vitesse B", Arial, sans-serif;
    padding-top: 10px;
  }

  #time {
    font-size: 20px;
    font-family: "Vitesse A", "Vitesse B", Arial, sans-serif;
  }
}