//blues
$medblue: #869DB5;
$teal: #5d7998;
$royal: #0057B8;
$darkroyal: #002c5c;
$navy: #002E5D;

//grays
$lightgray: #e5e5e5;
$medlightgray: #C5C5C5;
$medgray: #767676;
$darkgray: #666;

//green
$green: #4d8501;

$white: #FFF;
$black20: rgba(0, 0, 0, 0.2);
$black: #000;