$teal: #5d7998;
$navy: #002e5d;
$white: #fff;
$gray: #666;

#date, #date ::slotted(*) {
  display: none;
}

:host {
  width: 19%;
  overflow: hidden;

  .section-first {
    width: 100%;
    background: $teal;
    margin-bottom: 10px;
    color: $white;
    font-family: "Ringside Narrow A", "Ringside Narrow B", Arial, sans-serif;
  }

  #weekday {
    text-align: center;
    padding: 10px 10px 0;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
  }

  #month-and-day {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
  }

  .section-second {
    margin-bottom: 25px;
  }

  #title-0,
  #title-1 {
    font-family: "Vitesse A", "Vitesse B", Georgia, sans-serif;
  }

  #time-0,
  #time-1,
  #location-0,
  #location-1 {
    font-size: 14px;
    color: $gray;
    font-family: "Ringside Narrow A", "Ringside Narrow B", Arial, sans-serif;
  }

  .section-third {
    margin-top: 15px;
  }
}

@media screen and (min-width: 769px) {
  :host {
    height: 350px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1223px) {
  :host {
    width: 24%;
  }
}

@media screen and (max-width: 768px) {
  :host {
    width: 100%;
    margin-bottom: 20px;

    .section-first {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }

    #month-and-day {
      padding: 0 29px;
    }

    #weekday {
      padding: 5px 30px 5px 15px;
    }

  }
}